{% extends 'goodsModule/base_goods.html' %}

{%block content1%}
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.goodsPic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.goodsTitle }}</h3>
			<p> {{ goods.goodsIntro }} </p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.goodsPrice }}</em></span>
				<span class="show_unit">单  位：{{ goods.goodsUnit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ goods.goodsPrice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>
{%endblock content1%}

{%block content2%}
		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
            {{ goods.goodsContent|safe }}
			</div>

		</div>
{%endblock content2%}

{%block detail%}
<div class="add_jump"></div>

<script type="text/javascript">
    var $add_x = $('#add_cart').offset().top;
    var $add_y = $('#add_cart').offset().left;

    var $to_x = $('#show_count').offset().top;
    var $to_y = $('#show_count').offset().left;

    $('#add_cart').click(function(){
        $.get('/cart/add{{ goods.id }}_' + $('.num_show').val() + '/', function (data) {
            if(data.islogin==0){
                //alert('请登录');
                location.href='/user/login/';
                return;
            }else {
                $('#show_count').html(data.count);
            }

            $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
                .animate({'left': $to_y+7, 'top': $to_x+7},"fast", function() {
                $(".add_jump").fadeOut('fast');
            });
        });
    });
</script>
{%endblock detail%}