{% extends 'base.html' %}
{%block head%}
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
{%endblock head%}

{% block content %}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

{% for item in list %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">{{ item.type.typeTitle }}</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for goods in item.list_a %}
                    <a href="#">{{ goods.goodsTitle|slice:'10' }}...</a>
                {% endfor %}
			</div>
			<a href="/list{{ item.type.id }}_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner0{{ item.type.id }}.jpg"></div>
			<ul class="goods_list fl">
                {% for goods in item.list_b %}
                <li>
					<h4><a href="/{{ goods.id }}/">{{ goods.goodsTitle|slice:'10'}}...</a></h4>
					<a href="{{ goods.id }}"><img src="/static/{{ goods.goodsPic }}"></a>
					<div class="prize">¥ {{ goods.goodsPrice }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>
{% endfor %}

{% endblock content %}

